

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;

}

.navbar {
    display: flex;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
    align-items: center;
    justify-content: flex-end;
}

nav {
    background-color: rgba(240, 240, 240, 0.9);
    color: rgb(0, 0, 0);
   
    height: 2rem;
    min-width: 100%;
}

nav a {
    min-width: 200px;;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: black;
    
}


nav a:hover {
    color: rgb(54, 4, 7);;
}

nav a:visited {
    color: black;
}
#home {
    margin-top: 2rem;
    min-height: 100vh;
    background-image: url("background2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

#home h1 {
    font-size: 3rem;
    text-align: center;
}

.home-container {
    background-color: rgba(255,255,255, 0.5);
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;

}


.price-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.price-card {
    flex: 1 500px;
    background-color:rgb(54, 4, 7);
    margin: 1rem;
    padding: 1rem;
    color: white;
    text-align: center;
}

section {
    padding: 2rem;
    text-align: center;
}
.gallery-container  {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

}
.gallery-container img {
    flex: 1 250px;
    width: 30%;
    margin: 1rem;
    display: block;
}

/*hover zakrywa menu */

.gallery-container img:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.5s ease-in-out;
}


h1 {
    padding: 1rem;
}
h2 {
    padding-bottom: 1rem;
}

.attractions {
    list-style-type: none;
    font-size: 1.2rem;
}

.attractions li {
    margin: 0.8rem;
}

.attractions li:hover {
    color: rgb(54, 4, 7);
    font-weight: bold;
}

