/*
TO DO:
- responsywny widok menu nawigacji - media queries?
- Position (absolute, relative)
- media queries
- LOGO do menu
- napisać README
- poprawić nawigację

*/
:root {
    --main-color: rgb(54, 4, 7);
    --main-color-opaque: rgba(54, 4, 7, 0.8);
    --second-color: rgb(0, 92, 18);
    --main-font-family: 'Open Sans';
    --second-font-family: 'Caveat';
  }

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font-family), sans-serif;
    position: relative;
    padding-bottom: 3rem;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
    align-items: center;
    justify-content: flex-end;
    z-index: 2;
}

nav {
    background-color: var(--main-color-opaque); 
    min-width: 100%;
    min-height: 2.2rem;
}

nav a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: rgb(255, 255, 255);
}

nav a:visited {
    color: rgb(255, 255, 255);
}

nav a:hover {
    color: rgb(168, 95, 0);;
}
#home {
    margin-top: 2rem;
    min-height: 100vh;
    background-image: url("background2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

#home h1 {
    font-size: 3rem;
    text-align: center;
}

.home-container {
    background-color: rgba(255,255,255, 0.5);
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;

}


.price-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.price-card {
    flex: 1 500px;
    background-color: var(--main-color);
    margin: 1rem;
    padding: 1rem;
    color: white;
    text-align: center;
}

.price-card:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 

section {
    padding: 2rem;
    text-align: center;
}
.gallery-container  {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

}
.gallery-container img {
    flex: 1 250px;
    width: 30%;
    margin: 1rem;
    display: block;
}

/*hover zakrywa menu */

.gallery-container img:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.5s ease-in-out;
}


h1 {
    padding: 3rem;
    font-family: var(--second-font-family), cursive;
}
h2 {
    padding-bottom: 1rem;
}

.attractions {
    list-style-type: none;
    font-size: 1.2rem;
}

.attractions li {
    margin: 0.8rem;
}

.attractions li:hover {
    color: var(--second-color);
    font-weight: bold;
} 
.tree-icon
{
    color: var(--second-color);
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--main-color);
    height: 2.5rem;
    color: white;
    text-align: center;
    padding: 0.5rem;
}


.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 
.contact-form input, textarea {
    padding: 0.5rem;
    margin: 0.5rem;
    border: 2px solid var(--main-color);
    border-radius:10px;
    font-family: var(--main-font-family);
    box-shadow: 8px 8px 10px 0px var(--main-color-opaque);;
    width: 25rem;
}

.contact-form textarea {
    height: 10rem;
}

input[type=submit] {
    width: 10rem;
}

input[type=submit]:hover {
    color: white;
    background-color: var(--main-color)
}

/* media queries  */

@media (max-width: 600px) {
    .navbar{
        flex-direction: column;
        flex-wrap: wrap;
      }
      .navbar a {
        text-align: center;
        min-width: 100vh;
      }

  }
  @media (max-width: 500px) {
    .contact-form input, textarea {
        width: 80%;
    }
  }